<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
		
<configuration>
	<typeAliases>
		<typeAlias type="com.pcos.vo.MemberVO" alias="memberVO"/>
		<typeAlias type="com.pcos.vo.ProductVO" alias="productVO"/>
		<typeAlias type="com.pcos.vo.OrderVO" alias="orderVO"/>
		<typeAlias type="com.pcos.vo.CartVO" alias="cartVO"/>
		<typeAlias type="com.pcos.vo.Cart2VO" alias="cart2VO"/>
		<typeAlias type="com.pcos.vo.QnAVO" alias="qnaVO"/>
		<typeAlias type="com.pcos.vo.GradeVO" alias="gradeVO"/>
		<typeAlias type="com.pcos.vo.BoardVO" alias="boardVO"/>
		<typeAlias type="com.pcos.vo.FaqVO" alias="faqVO"/>
	</typeAliases>
</configuration>